defaults:
  - defaults.yaml
  - model: rnn.yaml
  - dataset: falcon_m2.yaml
  - _self_  # ensures current config overrides defaults

train_transforms:
  - _target_: torch_brain.transforms.UnitDropout
    max_units: 300
    min_units: 30
    mode_units: 100
    peak: 4

wandb:
  run_name: falcon_m2_rnn
